.mediaViewInfo {
	--web-view-name: web-juja;
	--web-view-id: web_juja;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_juja;
}
* {
	margin: 0;
	padding: 0;
}
#web_juja {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 100%;
	height: 1954px;
	background-color: rgba(38,37,37,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: web-juja;
	--web-view-id: web_juja;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_5 {
	position: absolute;
	width: 100%;
	height: 1954px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MVIMG_20190705_112111 {
	opacity: 0.227;
}
.MVIMG_20190705_112111 {
	position: absolute;
	overflow: visible;
	width: 1929px;
	height: 1954px;
	left: 0px;
	top: 0px;
}
#Rectangle_15 {
	opacity: 0.281;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1929px;
	height: 95px;
	left: 0px;
	top: 1859px;
}
#Contact {
	position: absolute;
    top: 1880px;
    left: 0;
    right: 0;
    bottom: 0;
	margin: auto;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: absolute;
	width: 623.82px;
	height: 30px;
	top: 137.343px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: visible;
}
#Web_Development {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Farah;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Web_Design {
	position: absolute;
	left: 247.097px;
	top: 0px;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Farah;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Digital_Marketing {
	position: absolute;
	left: 420.82px;
	top: 0px;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Farah;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Line_24 {
	overflow: visible;
	position: absolute;
	top: 15.31px;
	left: 223.663px;
	width: 16.248px;
	height: 4px;
}
.Line_25 {
	overflow: visible;
	position: absolute;
	top: 15.31px;
	left: 394.511px;
	width: 16.248px;
	height: 4px;
}
#About_Us {
	position: absolute;
	left: 0;
    right: 0;
    margin: auto;
	top: 1330.8px;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
	text-decoration: true;
}
#We_provide_comprehensive_web_a {
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
	top: 1419.269px;
	overflow: visible;
	width: 721px;
	white-space: nowrap;
	text-align: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Component_1___3 {
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
	width: 221px;
	height: 221px;
	top: 458px;
	overflow: visible;
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 221px;
	left: 0px;
	top: 0px;
}
#_J {
	position: absolute;
	left: 128.135px;
	top: 47.994px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#A {
	position: absolute;
	left: 119.135px;
	top: 97.994px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#N {
	position: absolute;
	left: 117.135px;
	top: 141.994px;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
.Line_27 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 47.5px;
	width: 1px;
	height: 74px;
}
.Polygon_4 {
	overflow: visible;
	position: absolute;
	top: 144px;
	left: 41px;
	width: 14px;
	height: 13px;
	transform: rotate(180deg);
}
.Line_28 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 47.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	top: 64.5px;
	left: 47.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_30 {
	overflow: visible;
	position: absolute;
	top: 88.5px;
	left: 47.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_29 {
	overflow: visible;
	position: absolute;
	top: 80.5px;
	left: 47.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_31 {
	overflow: visible;
	position: absolute;
	top: 96.5px;
	left: 47.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_33 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 39.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	top: 64.5px;
	left: 39.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_35 {
	overflow: visible;
	position: absolute;
	top: 88.5px;
	left: 39.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_36 {
	overflow: visible;
	position: absolute;
	top: 80.5px;
	left: 39.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_37 {
	overflow: visible;
	position: absolute;
	top: 96.5px;
	left: 39.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_48 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 173.5px;
	width: 1px;
	height: 74px;
}
.Polygon_5 {
	overflow: visible;
	position: absolute;
	top: 144px;
	left: 167px;
	width: 14px;
	height: 13px;
	transform: rotate(180deg);
}
.Line_46 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 173.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_47 {
	overflow: visible;
	position: absolute;
	top: 64.5px;
	left: 173.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_44 {
	overflow: visible;
	position: absolute;
	top: 88.5px;
	left: 173.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_45 {
	overflow: visible;
	position: absolute;
	top: 80.5px;
	left: 173.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_43 {
	overflow: visible;
	position: absolute;
	top: 96.5px;
	left: 173.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_38 {
	overflow: visible;
	position: absolute;
	top: 72.5px;
	left: 165.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_39 {
	overflow: visible;
	position: absolute;
	top: 64.5px;
	left: 165.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_40 {
	overflow: visible;
	position: absolute;
	top: 88.5px;
	left: 165.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	top: 80.5px;
	left: 165.5px;
	width: 8.707px;
	height: 8.707px;
}
.Line_42 {
	overflow: visible;
	position: absolute;
	top: 96.5px;
	left: 165.5px;
	width: 8.707px;
	height: 8.707px;
}
#_J_A2_Text_10 {
	position: absolute;
	left: 80.54px;
	top: 24.036px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#U {
	position: absolute;
	left: 69.54px;
	top: 74.036px;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#S {
	position: absolute;
	left: 71.54px;
	top: 115.036px;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#T {
	position: absolute;
	left: 69.54px;
	top: 159.036px;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Hoefler Text;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Rectangle_14 {
	opacity: 0.281;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1929px;
	height: 95px;
	left: 0px;
	top: 0px;
}
.Line_49 {
	position: absolute;
	top: 1065.5px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
	height: 2px;
}
#Group_7 {
	position: absolute;
	width: 490px;
	height: 77px;
	left: 46px;
	top: 9px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#JuJa {
	position: absolute;
	left: 6px;
	top: 21px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 77px;
	height: 77px;
	left: 0px;
	top: 0px;
}
#Home {
	position: absolute;
	left: 145px;
	top: 21px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#About {
	position: absolute;
	left: 267px;
	top: 21px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Contact_A2_Text_17 {
	position: absolute;
	left: 388px;
	top: 21px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_4 {
	position: absolute;
	width: 350px;
	height: 67px;
    left: 0;
    right: 0;
    margin: auto;
	top: 973px;
	overflow: visible;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 293px;
	height: 67px;
	left: 0px;
	top: 0px;
}
#Get_Started {
	position: absolute;
	left: 14px;
	top: 5px;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	text-align: left;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 67px;
	left: 283px;
	top: 0px;
}
.Polygon_6 {
	overflow: visible;
	position: absolute;
	top: 20px;
	left: 305px;
	width: 23px;
	height: 27px;
	transform: rotate(90deg);
}